<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Disponibilidade, segurança e qualidade de serviço.</h3>
                <h1>Sua informação em mãos seguras.</h1>
                <h5>Consultoria em tecnologias Open Source e Cloud Computing.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser-globe.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
