<div id="headerwrap" class="content-top">
    <div class="container">
        <div class="row">
            <div>
                <h1 class="ct-subtitle">{% t home.info %}</h1>
                <h5>{% t home.sub_info %}</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img 
                    src="{{ "/assets/img/browser.png" | prepend: site.baseurl_root  }}"
                    class="img-responsive"
                    alt="site.description"
                    decoding="async"
                    fetchpriority="high"
                >
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
