<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
	      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1><a href="http://artnux.com/" target="_blank"><img src="http://lojadafumaca.com/image/logo-madruga-lojadafumaca.png" width="150px" border="0" alt="{{ site.title }} logo"></a>{{ site.title }}</h1>
    </div>
    <div>
      <ul class="nav navbar-nav nav-pills">
        <li><a href="{{'' | prepend: site.baseurl | append: page.url_no_language }}">PT-BR</a></li>
        <li><a href="{{'/en' | prepend: site.baseurl | append: page.url_no_language }}">EN-US</a></li>
      </ul>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav nav-pills">
        <li {% if page.title == "Home" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
        <li role="presentation" class="dropdown" {% if page.title == "Portfolio" %} class="active" {% endif %}>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          SOLUÇÕES<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{"/projetos/hospedagem/" | prepend: site.baseurl }}">Para o seu Site</a></li>
            <li><a href="{{"/projetos/ecommerce/" | prepend: site.baseurl }}">Para a sua Loja</a></li>
            <li><a href="{{"/projetos/desenvolvimento/" | prepend: site.baseurl }}">Para Iniciar na Internet</a></li>
            <li><a href="{{"/projetos/seo/" | prepend: site.baseurl }}">Para Consolidar sua Marca</a></li>
            <li><a href="{{"/projetos/cloud/" | prepend: site.baseurl }}">Melhorar a Performance</a></li>
            <li><a href="{{"/projetos/seguranca/" | prepend: site.baseurl }}">Aumentar a Segurança</a></li>
          </ul>
        </li>
        <li {% if page.title == "About" %}class="active"{% endif %}><a href="{{"/about/" | prepend: site.baseurl }}">NOSSO TIME</a></li>
        <li {% if page.title == "Contact" %}class="active"{% endif %}><a href="{{"/contact/" | prepend: site.baseurl }}">CONTATO</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
