<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{% t {{ include.title }} %}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.categories.projects %}
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="{{ '/assets/img/project/' | append: project.thumb | prepend: site.baseurl_root }}" alt="{{ project.title }}">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown"><a href="{{ project.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp">{{ project.title }}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
