---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-12">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1 hide">
            <h2>{{ page.description }}</h2>
            <div class="spacing"></div>
            <h4>{% t project.title %}</h4>
            <div class="hline"></div>
            <p><b>{% t project.specialist %}:</b> <a href="{{ "/about/" | prepend: site.baseurl_root }}">{{ page.developer }}</a></p>
            <p><b>{% t project.category %}:</b> {{ page.categories }}</p>
            <p><b>Tags:</b> 
            {% for tag in page.tags %}
                {{ tag }},
                {% capture fara %}
                    {{ fara }}{{ tag }};
                {% endcapture %}
            {% endfor %}
            </p>
            <p><b>{% t project.client %}:</b> {{ page.client }}</p>
            <p><b>{% t project.reference %}:</b>
            {% for url in page.website %}
             <br /><a target="_blank" href="{{ url }}">{{ url }}</a>
            {% endfor %}
            </p>
        </div>
    </div>
    {% if page.include == "prices-host" %}
        {% tf host-prices.html %}
    {% endif %}
    {% if page.include == "prices-ecom" %}
        {% tf ecommerce-prices.html %}
        {% tf ecommerce-features.html %}
    {% endif %}
</div>

<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% capture related_title %}
            {% t project.title_related %}
        {% endcapture %}
        <h4>{{ related_title | strip | upcase }}</h4>
        <div class="recentitems portfolio">
            {% assign related_count = 0 %}
            {% for item in site.categories.projects %}
                {% if item.language == page.language and item.url != page.url %}
                    {% assign is_related = false %}
                    {% for item_tag in item.tags %}
                        {% if page.tags contains item_tag %}
                            {% assign is_related = true %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                    {% if is_related %}
                        <div class="portfolio-item graphic-design">
                            <div class="he-wrap tpl6">
                                <img
                                    src="{{ '/assets/img/project/' | prepend: site.baseurl_root }}{{ item.thumb }}"
                                    alt="{{ item.title | escape }}"
                                    loading="lazy"
                                    decoding="async"
                                >
                                <div class="he-view">
                                    <div class="bg a0" data-animate="fadeIn">

                                        <h5 class="a1" data-animate="fadeInDown">
                                            <a
                                                href="{{ item.url | prepend: site.baseurl }}"
                                                class="dmbutton a2"
                                                data-animate="fadeInUp"
                                            >
                                                {{ item.title }}
                                            </a>
                                        </h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% assign related_count = related_count | plus: 1 %}
                        {% if related_count >= 10 %}
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
